@use '../abstracts/variables';
@use '../abstracts/mixins';

footer {
    background-color: variables.$decorationColor;
    color: variables.$lightColor;
    padding: 1.25rem; // 20px
    text-align: center;
    font-family: variables.$bodyFont;
    font-size: 0.875rem; // 14px
    bottom: 0;

    .footer-links {
        @include mixins.flex-center;
        gap: 1.25rem; // 20px
        margin-bottom: 0.625rem; // 10px

        a {
            color: variables.$lightColor;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                color: variables.$meduimColor;
            }
        }
    }

    .footer-copyright {
        margin-top: 0.625rem; // 10px
        font-size: 0.75rem; // 12px
        color: variables.$meduimColor;
    }
}