@use '../abstracts/variables';
@use '../abstracts/mixins';

.history {
    padding: 11.75rem 8.75rem 13.25rem; // 220px to rem
    display: grid;
    place-content: center;

    p {
        text-align: center;
        padding: 0 1.5625rem; // 25px
        margin: 3.4375rem; // 55px
    }

    a {
        grid-column: 1 / 2;
        text-align: center;
    }

    img {
        max-width: 22rem; // 600px
        margin: 0 auto;
        grid-column: 1 / 2;
    @include mixins.telefono {
        max-width: 30rem;
    }

    @include mixins.tablet {
        max-width: 37rem; 
    }
    }

    @include mixins.telefono {
        display: grid;
        place-content: center;
        justify-content: center;
        align-items: center;

        a {
            grid-column: 2;
        }

        p {
            margin: 0;
            padding: 0;
        }
    }
}