@use '../abstracts/mixins';
@use '../layout/section';

.home,
.login-page,
.signup-page {
    background-image: url(../img/landing/background1.png) !important;
    height: 100vh;
    @include mixins.flex-center;
    flex-direction: column;
    background-size: cover;

}

.tableScores {
    height: auto !important;
}

.items,
.enemies {
    @extend .section;
}

.items {
    background-image: url(../img/landing/background2.png) !important;
}

.enemies {
    background-image: url(../img/landing/background3.png) !important;
}

.logo {
    display: flex;
    margin: 0 auto;
    padding: 1.25rem 0; // 20px to rem
    height: 7.8125rem; // 125px

    @include mixins.telefono {
        height: 12.5rem; // 200px
    }

    @include mixins.tablet {
        height: 18.75rem; // 300px
    }
}