@use '../abstracts/variables';
@use '../abstracts/mixins';

.section {
    height: auto;
    background-size: cover;
    padding: variables.$sectionPadding;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr)); // 160px to rem
    gap: variables.$gridGap;
    align-items: start;
    justify-items: center;

    div {
        background-color: variables.$lightColor;
        color: variables.$darkColor;
        text-align: center;
        padding: 1rem;
        border-radius: 0.625rem; // 10px
        @include mixins.box-shadow(hsla(0, 0%, 0%, 0.1));
        width: 12rem;
        height: auto;
    }

    img {
        width: 10.75rem; // 140px to rem
        height: 10.75rem; // 140px to rem
        background-color: variables.$meduimColor;
        border-radius: 0.625rem; // 10px
        margin-bottom: 0.625rem; // 10px
    }
}