// mq
$telefono: 30rem; // 480px
$tablet: 48rem; // 768px
$desktop: 75rem; // 1200px
$desktopXL: 87.5rem; // 1400px

// Colors
$darkColor: hsl(0, 0%, 0%);
$darkColorOpacity: hsla(0, 0%, 0%, 0.404);
$meduimColor: hsl(0, 0%, 74%);
$lightColor: hsl(0, 0%, 100%);
$decorationColor: hsl(233, 57%, 18%);

// Fonts
$bodyFont: "Montserrat", sans-serif;
$titleFont: "Lilita One", sans-serif;

// Common Styles
$sectionPadding: 6.75rem; // 140px
$gridGap: 1.25rem; // 20px